In [3]:
import pandas as pd

In [4]:
s = pd.Series([12,10,45,67,55,50,'a','b','c','d'])
s.name = "calories"
s

0    12
1    10
2    45
3    67
4    55
5    50
6     a
7     b
8     c
9     d
Name: calories, dtype: object

In [5]:
s.values

array([12, 10, 45, 67, 55, 50, 'a', 'b', 'c', 'd'], dtype=object)

In [6]:
s.index

RangeIndex(start=0, stop=10, step=1)

In [7]:
print(s.name)

calories

In [8]:
## indexing
s[0]

12

In [9]:
s[1:7:3]

1    10
4    55
Name: calories, dtype: object

In [10]:
s[-4:-7:-2]

6     a
4    55
Name: calories, dtype: object

In [11]:
## iloc 
#give location of index
s.iloc[5]

50

In [12]:
s.iloc[[3,6,8]]

3    67
6     a
8     c
Name: calories, dtype: object

In [13]:
index = ["apple","banana","stobary","orange","grapes","mango","kivifurite","lemon","cherry","blackbarry"]

In [14]:
s.index = index
s

apple         12
banana        10
stobary       45
orange        67
grapes        55
mango         50
kivifurite     a
lemon          b
cherry         c
blackbarry     d
Name: calories, dtype: object

In [15]:
#iloc use for only numerical indexing.why
s.iloc[5]

50

In [16]:
## loc--lable base indexing
# in lable base indexinh=g your start as well as stop value both are included in the output.

s.loc["grapes"]

55

In [17]:
s.loc[["mango","banana"]]

mango     50
banana    10
Name: calories, dtype: object

In [18]:
fruit_protine = {"apple":0.3,"banana":1.3,"stobary":1,"orange":0.9,"grapes":0.6,"mango":0.8,"kivifurite":2.1,"lemon":1.1,"cherry":1,"blackbarry":2}

In [19]:
s2 = pd.Series(fruit_protine)
s2.name = "protine"
s2

apple         0.3
banana        1.3
stobary       1.0
orange        0.9
grapes        0.6
mango         0.8
kivifurite    2.1
lemon         1.1
cherry        1.0
blackbarry    2.0
Name: protine, dtype: float64

In [20]:
# conditional selsction
s2[s2>1]

banana        1.3
kivifurite    2.1
lemon         1.1
blackbarry    2.0
Name: protine, dtype: float64

In [21]:
#logical operation: and or not
s2[(s2>1) & (s2<2)]

banana    1.3
lemon     1.1
Name: protine, dtype: float64

In [22]:
#modifing the series
s2["banana"] = 1.5
s2

apple         0.3
banana        1.5
stobary       1.0
orange        0.9
grapes        0.6
mango         0.8
kivifurite    2.1
lemon         1.1
cherry        1.0
blackbarry    2.0
Name: protine, dtype: float64

In [23]:
import numpy as np

In [24]:
#dataframe
data = {
    "name":["apple","banana","stobary","orange","grapes","mango","kivifurite","lemon","cherry","blackbarry"],
    "calories":[52,96,33,47,69,60,61,29,50,43],
    "protine":[0.3,1.5,1,0.9,0.6,0.8,2.1,1.1,1,2]
}
df = pd.DataFrame(data)
df

         name  calories  protine
0       apple        52      0.3
1      banana        96      1.5
2     stobary        33      1.0
3      orange        47      0.9
4      grapes        69      0.6
5       mango        60      0.8
6  kivifurite        61      2.1
7       lemon        29      1.1
8      cherry        50      1.0
9  blackbarry        43      2.0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   calories  10 non-null     int64
 2   protine   10 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 372.0+ bytes

In [26]:
##brodcasting
df["calories"] = df["calories"] + 10    
df ["calories"]

0     62
1    106
2     43
3     57
4     79
5     70
6     71
7     39
8     60
9     53
Name: calories, dtype: int64

In [27]:
#data cleaning
df.isnull().sum()

name        0
calories    0
protine     0
dtype: int64

In [32]:
df.drompna(inplace=True)    #no null value so no change
df

AttributeError: 'DataFrame' object has no attribute 'drompna'

In [ ]:
df.fillna(0,inplace=True)
df

         name  calories  protine
0       apple        62      0.3
1      banana       106      1.5
2     stobary        43      1.0
3      orange        57      0.9
4      grapes        79      0.6
5       mango        70      0.8
6  kivifurite        71      2.1
7       lemon        39      1.1
8      cherry        60      1.0
9  blackbarry        53      2.0

In [30]:
df["apple"].fillna(method="ffill",inplace=True)
df

KeyError: 'apple'

In [29]:
df["calories"].mean()
df["calories"].median()
df["calories"].mode()
df["calories"].std()
df["calories"].var()
df["calories"].min()
df["calories"].max()
df.describe()

         calories    protine
count   10.000000  10.000000
mean    64.000000   1.130000
std     19.235384   0.577446
min     39.000000   0.300000
25%     54.000000   0.825000
50%     61.000000   1.000000
75%     70.750000   1.400000
max    106.000000   2.100000

In [33]:
df_dup = df[df.duplicated(keep = "last")]
df_dup

Empty DataFrame
Columns: [name, calories, protine]
Index: []

In [34]:
#invalid values
#lambda function
df["calories"] = df["calories"].apply(lambda x: x if x>=0 else 0)
df["calories"]

0     62
1    106
2     43
3     57
4     79
5     70
6     71
7     39
8     60
9     53
Name: calories, dtype: int64

In [35]:
def multiply(x):
    return x*2
df["calories"] = df["calories"].apply(multiply)
df["calories"]

0    124
1    212
2     86
3    114
4    158
5    140
6    142
7     78
8    120
9    106
Name: calories, dtype: int64

In [38]:
#join and merge
department_info = {
    "Department" : ["HR","IT","Finance"],
    "Location" : ["New York","Chicago","san Francisco"],
    "Manager" : ["Alice","Bob","Charlie"]
}
df2 = pd.DataFrame(department_info)
df2

  Department       Location  Manager
0         HR       New York    Alice
1         IT        Chicago      Bob
2    Finance  san Francisco  Charlie

In [40]:
pd.concat([df,df2])

         name  calories  protine Department       Location  Manager
0       apple     124.0      0.3        NaN            NaN      NaN
1      banana     212.0      1.5        NaN            NaN      NaN
2     stobary      86.0      1.0        NaN            NaN      NaN
3      orange     114.0      0.9        NaN            NaN      NaN
4      grapes     158.0      0.6        NaN            NaN      NaN
5       mango     140.0      0.8        NaN            NaN      NaN
6  kivifurite     142.0      2.1        NaN            NaN      NaN
7       lemon      78.0      1.1        NaN            NaN      NaN
8      cherry     120.0      1.0        NaN            NaN      NaN
9  blackbarry     106.0      2.0        NaN            NaN      NaN
0         NaN       NaN      NaN         HR       New York    Alice
1         NaN       NaN      NaN         IT        Chicago      Bob
2         NaN       NaN      NaN    Finance  san Francisco  Charlie

In [41]:
pd.merge(df,df2,left_on="name",right_on="Department")

Empty DataFrame
Columns: [name, calories, protine, Department, Location, Manager]
Index: []

In [44]:
data = pd.read_csv("data.csv")

In [45]:
data.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,8/24/2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,4/23/2021,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,-1199,(496)978-3969x58947,beckycarr@hogan.com,3/25/2020,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,-9892,stanleyblackwell@benson.org,6/2/2020,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,4/17/2021,https://goodwin-ingram.com/

In [49]:
data.shape

(10, 12)